{% extends 'base.html' %}
{% load static %}
{% block title %}Admin{% endblock %}
{% block content %}
    <div class="content">
        <div class="msg-form-control-api">
            {% if msg_status %}
                {% if process_api_on %}
                    <script src="{% static 'animations_api_on.js' %}"></script>
                {% endif %}
                {% if process_api_off %}
                    <script src="{% static 'animations_api_off.js' %}"></script>
                {% endif %}
            {% endif %}
            <span class="msg-control-status-api">
                <p class="msg-control-success-start"> API - Iniciada </p>
                <p class="msg-control-error-start"> Erro - Iniciar API </p>
                <p class="msg-control-save-sucess"> Alterações Salvas - Status: OFF </p>
            </span>
        </div>
        <div class="form-config-estrategias">
            <div class="content-form">
                <div class="block-user-form">
                    <div class="block-login">
                        <h1>Autenticação IQ Option - APP 1</h1>
                        <h3 style="text-align: center;">estratégias: 1, 2, 3 e 4.</h3>
                    </div>
                </div>
    
                <form action="{% url 'autenticacao_iqoption' %}" id="form-config-admin-auth">
                    <!-- onchange="alterSelectInputs(event);" -->
                    {% csrf_token %}
                    <div class="form-control-api">
                        <p>Status API:</p>
                        <span class="control-status-api">
                            <select name="status-api" id="status-api" class="{{ status_api }}">
                                <option value="0">Desligada</option>
                                <option value="1">Ligada</option>
                            </select> 
                        </span>
                    </div>
                    <div class="block-input-credencials-user-iqoption">
                        <div class="inputs-credencials-user-iqoption">
                            <label for="username-iqoption">Usuário</label>
                            <input type="email" name="username-iqoption" id="username-iqoption" value="{{ email }}" placeholder="email..." required>
                        </div>
                        <div class="inputs-credencials-user-iqoption-password">
                            <label for="password-iqoption">Senha</label>
                            <input type="password" name="password-iqoption" id="password-iqoption" value="{{ password }}" placeholder="senha..." required>
                            <div class="icons-password">
                                <i class="fa-solid fa-lock" onclick="show_password(event);"></i>
                            </div>
                            <!-- <i class="fa-solid fa-unlock"></i> -->
                        </div>
                        <div class="alert-input-password">
                            <p>Para manter a segurança da sua conta IQ Option apenas o email será salvo no banco de dados.</p>
                        </div>
                    </div>
                    <div class="btn-control-api">
                        <input type="submit" value="Salvar" id="save-form-control-api" onclick="controlAPI_process();">
                    </div> 
                </form>
            </div>
        </div>
        <div class="form-config-estrategias">
            <div class="content-form">
                <div class="block-user-form">
                    <div class="block-login">
                        <h1>Autenticação IQ Option - APP 2</h1>
                        <h3 style="text-align: center;">estratégias: 5, 6 e 7.</h3>
                    </div>
                </div>
    
                <form action="{% url 'autenticacao_iqoption' %}" id="form-config-admin-auth-app-2">
                    <!-- onchange="alterSelectInputs(event);" -->
                    {% csrf_token %}
                    <div class="form-control-api">
                        <p>Status API:</p>
                        <span class="control-status-api">
                            <select name="status-api-app-2" id="status-api-app-2" class="{{ status_api_2 }}">
                                <option value="0">Desligada</option>
                                <option value="1">Ligada</option>
                            </select> 
                        </span>
                    </div>
                    <div class="block-input-credencials-user-iqoption">
                        <div class="inputs-credencials-user-iqoption">
                            <label for="username-iqoption-app-2">Usuário</label>
                            <input type="email" name="username-iqoption-app-2" id="username-iqoption-app-2" value="{{ email_2 }}" placeholder="email..." required>
                        </div>
                        <div class="inputs-credencials-user-iqoption-password">
                            <label for="password-iqoption-app-2">Senha</label>
                            <input type="password" name="password-iqoption-app-2" id="password-iqoption-app-2" value="{{ password_2 }}" placeholder="senha..." required>
                            <div class="icons-password-2">
                                <i class="fa-solid fa-lock" onclick="show_password_2(event);"></i>
                            </div>
                            <!-- <i class="fa-solid fa-unlock"></i> -->
                        </div>
                        <!-- <div class="alert-input-password">
                            <p>Para manter a segurança da sua conta IQ Option apenas o email será salvo no banco de dados.</p>
                        </div> -->
                    </div>
                    <div class="btn-control-api">
                        <input type="submit" value="Salvar" id="save-form-control-api-app-2" onclick="controlAPI_process_app_2();">
                    </div> 
                </form>
            </div>
        </div>
        <div class="form-config-estrategias">
            <div class="content-form">
                <div class="block-user-form">
                    <div class="block-login">
                        <h1>Autenticação IQ Option - APP 3</h1>
                        <h3 style="text-align: center;">estratégias: 1, 2, 3, 4, 5, 6 e 7.</h3>
                    </div>
                </div>
    
                <form action="{% url 'autenticacao_iqoption' %}" id="form-config-admin-auth-app-3">
                    <!-- onchange="alterSelectInputs(event);" -->
                    {% csrf_token %}
                    <div class="form-control-api">
                        <p>Status API:</p>
                        <span class="control-status-api">
                            <select name="status-api-app-3" id="status-api-app-3" class="{{ status_api_3 }}">
                                <option value="0">Desligada</option>
                                <option value="1">Ligada</option>
                            </select> 
                        </span>
                    </div>
                    <div class="block-input-credencials-user-iqoption">
                        <div class="inputs-credencials-user-iqoption">
                            <label for="username-iqoption-app-3">Usuário</label>
                            <input type="email" name="username-iqoption-app-3" id="username-iqoption-app-3" value="{{ email_3 }}" placeholder="email..." required>
                        </div>
                        <div class="inputs-credencials-user-iqoption-password">
                            <label for="password-iqoption-app-3">Senha</label>
                            <input type="password" name="password-iqoption-app-3" id="password-iqoption-app-3" value="{{ password_3 }}" placeholder="senha..." required>
                            <div class="icons-password-3">
                                <i class="fa-solid fa-lock" onclick="show_password_3(event);"></i>
                            </div>
                            <!-- <i class="fa-solid fa-unlock"></i> -->
                        </div>
                        <!-- <div class="alert-input-password">
                            <p>Para manter a segurança da sua conta IQ Option apenas o email será salvo no banco de dados.</p>
                        </div> -->
                    </div>
                    <div class="btn-control-api">
                        <input type="submit" value="Salvar" id="save-form-control-api-app-3" onclick="controlAPI_process_app_3();">
                    </div> 
                </form>
            </div>
        </div>
    
    
</div>
    <script>
        function controlAPI_process(){
            controlAPI("{% url 'start_api' %}", "{% url 'stop_api' %}")
        }
        function controlAPI_process_app_2(){
            // controlAPI_app_2("http://127.0.0.1:9000/v2/start-api/", "http://127.0.0.1:9000/v2/stop-api/")
            // controlAPI_app_2("http://3.143.4.75/v2/start-api/", "http://3.143.4.75/v2/stop-api/")

            // IP comum
            controlAPI_app_2("http://191.252.214.23/v2/start-api/", "http://191.252.214.23/v2/stop-api/")
        }
        function controlAPI_process_app_3(){
            // controlAPI_app_2("http://127.0.0.1:9000/v2/start-api/", "http://127.0.0.1:9000/v2/stop-api/")
            // controlAPI_app_2("http://3.143.4.75/v2/start-api/", "http://3.143.4.75/v2/stop-api/")

            // IP comum
            controlAPI_app_3("http://191.252.214.23/v4/start-api/", "http://191.252.214.23/v4/stop-api/")
        }
    </script>
    <script src="{% static 'control_api.js' %}"></script>
{% endblock %}