.container-filtros-principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-filtros-principal input {
    outline: none;
}
.container-filtros-principal form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: antiquewhite;
    box-shadow: var(--box-shadow-1);
    border-radius: 5px;
}

.block-filtros-datas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contents-filtros-datas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 3px 10px;
    gap: 10px;
}
.contents-filtros-datas label,
.contents-filtros-geral label {
    font-weight: 600;
}
.contents-filtros-datas input {
    width: 145px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.contents-filtros-geral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 3px 10px;
    gap: 10px;
}
.contents-filtros-geral select {
    padding: 10px;
    outline: none;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
}
#input-ativo {
    text-align: start;
}

/* CARDS RESULTADOS */
.block-resultados-resumo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.card-results, .card-results-win, .card-results-loss {
    margin: 10px;
    width: 215px;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 12px;
    padding: 10px;
    color: #f8f8f8;
    background-color: var(--color-dark-1);
    box-shadow: var(--box-shadow-1);
}
.card-results-win {
    color: black;
    background-color: #45fd02;
}
.card-results-loss {
    color: #ffffff;
    background-color: #fd0202;
}
.content-card-consolidado {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: 0px;
}
.content-card-results-consolidado,
.content-card-results-consolidado-win,
.content-card-results-consolidado-loss {
    font-size: 27px;
}


.card-result-geral {
    width: 74px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--color-white-1);
}

.card-result-geral-direction,
.card-result-geral-direction-result,
.card-result-geral-direction-result-call,
.card-result-geral-direction-result-put {
    width: 52px;
    height: auto;
    margin: 3px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
}
.result-win-geral {
    color: var(--color-dark-1);
    background-color: #45fd02;
}
.result-loss-geral {
    color: var(--color-white-1);
    background-color: #fd0202;
}
.card-result-extrato {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px 0px;
}
.card-result-extrato p {
    width: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 600;
}
.card-result-extrato-win,
.card-result-extrato-win-call, .card-result-extrato-win-put{
    background-color: #1bfd02;
    color: var(--color-dark-1);
    border-radius: 5px;
    font-weight: 600;
}
.card-result-extrato-loss,
.card-result-extrato-loss-call, .card-result-extrato-loss-put{
    background-color: #fd0202;
    color: var(--color-white-1);
    border-radius: 5px;
    font-weight: 600;
}


#btn-aplicar-filtros-principal {
    width: 150px;
    height: 45px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    color: #FFF;
    background-color: blue;
    border: 1px solid #ffffff;
}
#btn-aplicar-filtros-principal:hover {
    border-color: rgb(255, 255, 255);
    border: 1px solid transparent;
    transition: .4s;
}

/* SPAN DIV RESUME OPERATION ALERT */
.resume-operation {
    cursor: pointer;
}
/* .resume-operation-alert {
    cursor: default;
} */
/* .resume-operation:hover .resume-operation-alert {
    display: flex;
} */
.resume-operation-alert {
    position: absolute;
    width: 250px;
    /* margin-top: -67px; */
    margin-left: 200px;
    display: none;
    flex-direction: column;
    border: 1px solid var(--color-white-1);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: var(--color-white-1);
    background: var(--color-dark-0);
    padding: 10px;
}
.resume-operation-alert p {
    border-bottom: 1px solid var(--color-white-1);
}
.destaque-expiration {
    color: var(--color-white-1);
    background-color: var(--color-dark-1);
    border-radius: 5px;
    padding: 5px;
}
.content-destaque-expirations {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}